<style>
    .header_title {
        position: absolute;
        line-height: 30px;
        left: 50px;
        width: 32%;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }
    .header_bar {
        width: 65%;
        line-height: 30px;
        left: 35%;
        position: relative;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow:ellipsis;
    }
</style>

<div class="comprecrow_header">
    <div class="header_title">{NAME_HEAD}</div>
    <div class="header_bar">{BAR_HEAD}</div>
</div>