<style>
</style>

<script>
    ( function( $ ) {
        var Collapse = {
            init: function(scale, goal, score) {
                // disable button
                Collapse.collapse(scale, goal, score);
            },

            collapse: function(scale, goal, score) {
                scaleOrig = scale;
                while (scaleOrig > 0) {
                    $('#{ID}').append("<div class='barchart barchart_scale_max' style='width:" + (scaleOrig/scale*100+0.1) + "%'></div>");
                    if (parseInt(goal) === parseInt(scaleOrig)) {
                        $('#{ID}').append("<div class='barchart_inner_profile barchart' style='width:"+(goal/scale*100+0.5)+"%'></div>");
                        $('#{ID}').append("<div class='barchart barchart_scale_min' style='width:" + (scaleOrig/scale*100-0.5)+ "%'></div>");
                    } else {
                        $('#{ID}').append("<div class='barchart barchart_scale_min' style='width:" + (scaleOrig / scale * 100 - 0.1) + "%'></div>");
                    }
                    scaleOrig--;
                }
                $('#{ID}').append("<div class='barchart_inner barchart' style='width:" + (score/scale*100) + "%'></div>");
                $('#{ID}').append("<div class='barchart_text'>{TITLE}</div>");
            },

        };
        $( document ).ready( function( $ ) {
            BarchartScale.init({REF_IDS}, {REF_IDS}, {REF_IDS});
        } );
    } )( jQuery );

</script>

<div id="{ID}-Collapse" class="collapsible"></div>